* {
    margin: 0;
    padding: 0;
}
.header {
    background: url(img/bg.png);
    min-height: 972px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    padding-top: 39px;
}
.nav-header {
    display: flex;
    margin: 0 auto;
    max-width: 1550px;
    width: 80%;
    min-height: 61px;
}
.logo-header {
    margin-right: 14px;
}
.label-header {
    align-self: center;
    /*margin-right: 707px;*/
}
.header-list {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    align-self: center;

}
.header-list-mini {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-right: 30px;

    color: #747474;
}
.header-choosed {
    color: #ffff;
}